<template>
  <div class="container py-4">

    <div class="todo_add">

      <div class="input-group mb-3">
        <input ref="inputTitle" type="text" class="form-control" placeholder="Enter todo"
               aria-label="Recipient's username"
               aria-describedby="basic-addon2" :value="$store.state.newTodoTitle"
               @input="$store.commit('setNewTodoTitle', $event.target.value)"
               @keydown.enter="$store.dispatch('addTodo')">
        <!--               aria-describedby="basic-addon2" v-model="newTodoTitle" @keydown.enter="addTodo">-->
        <div class="input-group-append">

          <button class="btn btn-info" type="button" @click="$store.dispatch('addTodo')">Add</button>
        </div>
      </div>
    </div>
    <div class="todo_filter"></div>
    <div class="todo_list">

      <div class="mb-3">
        <span class="bg-primary p-2 text-light">
          Count <span class="badge badge-light">{{ count }}</span>
        </span>
        <span class="bg-primary p-2 text-light">
          Count completed <span class="badge badge-light">{{ countCompleted }}</span>
        </span>
        <span class="bg-primary p-2 text-light">
          Count uncompleted<span class="badge badge-light">{{ countUncompleted }}</span>
        </span>
      </div>

      <v-list :items="$store.state.todos">
        <template v-slot:title>
          Todo list;kjrljb wufg weufg ewufyguwegfy wekugyf uygewf uygew ufyg weufyg wuefgy uwegyfyuew
        </template>
        <template v-slot="{item}">
          <v-list-item :item="item" @title-changed="$store.dispatch('changeTitle', [item, $event])" @change-completed="$store.dispatch('changeCompleted', [item, $event])"
                       @remove="removeTodo(item.id)"/>
        </template>
      </v-list>

      <!--      <v-list :items="todos" @remove="removeTodo">-->
      <!--        <template v-slot="data">-->
      <!--          <li>-->
      <!--            <b><u>{{data.item.title}}</u></b>-->
      <!--          </li>-->
      <!--          &lt;!&ndash;          <v-list-item :item=""/>&ndash;&gt;-->
      <!--        </template>-->
      <!--      </v-list>-->
      <!--      <v-list :items="todos"/>-->
      <!--      <v-list :items="todos"/>-->


    </div>

    <hr class="bg-danger">

    <!--    <v-section>-->
    <!--      <template v-slot:title>-->
    <!--        <u>Section 1 title</u>-->
    <!--      </template>-->

    <!--      section1-->
    <!--      <div>liuawei uwf</div>-->
    <!--      <p>liuabweou gywreofuy</p>-->
    <!--      <q>iuhwriu hreouer g</q>-->
    <!--      <i>uygweuyg eufyg uf</i>-->
    <!--    </v-section>-->

    <!--    <v-section>-->
    <!--      section2-->
    <!--    </v-section>-->
    <!--    <v-section>-->
    <!--      section3-->
    <!--    </v-section>-->


  </div>
</template>

<script>
import VList from "@/components/List.vue";
import VListItem from "@/components/VListItem.vue";
// import VSection from "@/components/VSection.vue";
// import VListItem from "@/components/VListItem.vue";

import {mapGetters} from 'vuex'

export default {
  name: 'HomePage',
  components: {
    VListItem,
    // VSection,
    // VListItem,
    VList
  },
  // data: () => ({
  //
  // }),
  // beforeCreate() {
  //
  // },
  created() {
    let todos = JSON.parse(localStorage.getItem('todos')) || []
    // if (!todos) {
    //   todos = []
    // }

    this.$store.commit('setTodos', todos)
    // this.todos = todos
  },
  //
  // beforeMount() {
  // },
  // mounted() {
  // },
  //
  // beforeUpdate() {
  // },
  // updated() {
  // },
  //
  // beforeDestroy() {
  // },
  // destroyed() {
  // },
  computed: {
    ...mapGetters(['count', 'countUncompleted', 'countCompleted'])
  },
  methods: {
    removeTodo(id) {
      this.$store.dispatch('removeTodo', id)
          .then((todos) => {
            console.log(1);
            localStorage.setItem('todos', JSON.stringify(todos))
          })
    }
  }
}
</script>

<style>

</style>
