<template>
  <div>
    <h3>
      <slot name="title">
        Default title
      </slot>
    </h3>
    <ul class="list-group">
      <template v-for="item in items">
        <slot :item="item"/>
        <!--      <v-list-item-->
        <!--          :class="{'text-success': item.completed}"-->
        <!--          class=""-->
        <!--          @remove="$emit('remove', item.id)"-->
        <!--          :key="item.id" :item="item"-->
        <!--          @change-completed="changeItemCompleted"/>-->
      </template>
    </ul>
  </div>
</template>

<script>
// import VListItem from "@/components/VListItem.vue";

export default {
  name: "VList",
  components: {
    // VListItem
  },
  props: {
    items: {
      type: Array,
      default: () => [],
      // default: () => ({})
      // validator: value => .... true || false
    }
  },
  methods: {
    changeItemCompleted(todo, isChecked) {
      // console.log(todo, isChecked)
      todo.completed = isChecked
    }
  }
}

</script>

<style scoped>

</style>