<template>
  <li
      style="display: flex"
      class="list-group-item justify-content-between align-items-center"
      :class="{'text-success font-weight-bold' : item.completed}"
  >
    <div>
      <span class="mr-5">
        <input type="checkbox" @change="$emit('change-completed', $event.target.checked)">
      </span>
      <!--      <router-link :to="{name: 'todo', params:{id: item.id}}">-->
      <span :contenteditable="isEditable" @input="input">{{ item.title }}</span>
      <!--      </router-link>-->
    </div>

    <div>
      <button class="btn btn-warning" type="button" @click="editableToggle">Edit</button>
      <button @click="$emit('remove', item.id)" class="btn btn-danger">Delete</button>
    </div>
  </li>
</template>

<script>

export default {
  name: 'VListItem',
  data: () => ({
    isEditable: false,
    newTitle: ''
  }),
  props: {
    item: {}
  },
  computed: {
    titlesIsEqual() {
      return this.item.title === this.newTitle
    }
  },
  beforeMount() {
    this.newTitle = this.item.title
  },
  methods: {
    input(event) {
      this.newTitle = event.target.innerText
    },
    editableToggle() {
      if(this.isEditable && !this.titlesIsEqual){
        this.$emit('title-changed', this.newTitle)
      }

      this.isEditable = !this.isEditable
    },
    // update() {
    //
    // }
  }
}
</script>

<style></style>