<template>
  <section class="section py-3">
    <div class="container">
      <h2>
        <slot name="title"/>
      </h2>

      <div class="content">
        <slot/>
      </div>
    </div>
  </section>
</template>
